body {
  margin: 0;
  padding: 0;
  background-color: #e5f6ff;
}

.App {
  width: 80%;
  height: 100vh;
  margin: auto;
  color: #0088cc;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  background: #e5f6ff;
  box-shadow: 37px 37px 76px #99ddffb9, -37px -37px 76px #e5f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #33bbff;
}
